                        Handling Missing Data

                            dropna & fillna

                            Note;-axis =0->>row
                                axis=1,->>column

In [27]:

import pandas as pd
csv=pd.read_csv('IRIS.csv')    #reading csv file
csv.loc[[2,3,4,20],['petal_length','species']]=None
csv

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             NaN          NaN           NaN          NaN             NaN
2             NaN          NaN           NaN          NaN            None
3             NaN          NaN           NaN          NaN            None
4             5.0          3.6           NaN          0.2            None
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [28]:
csv.dropna()# to drop NaN containing row

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
6             4.6          3.4           1.4          0.3     Iris-setosa
7             5.0          3.4           1.5          0.2     Iris-setosa
8             4.4          2.9           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[145 rows x 5 columns]

In [29]:
csv.dropna(axis=0)# to drop NaN along row

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
6             4.6          3.4           1.4          0.3     Iris-setosa
7             5.0          3.4           1.5          0.2     Iris-setosa
8             4.4          2.9           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[145 rows x 5 columns]

In [30]:
csv.dropna(axis=1)# to drop NaN along coloumn

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[150 rows x 0 columns]

In [31]:
csv.dropna(how='any')# to drop row having atleast on Nan value

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
6             4.6          3.4           1.4          0.3     Iris-setosa
7             5.0          3.4           1.5          0.2     Iris-setosa
8             4.4          2.9           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[145 rows x 5 columns]

In [32]:
csv.dropna(how='all')# to drop row having all  Nan value

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
4             5.0          3.6           NaN          0.2            None
5             5.4          3.9           1.7          0.4     Iris-setosa
6             4.6          3.4           1.4          0.3     Iris-setosa
7             5.0          3.4           1.5          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[147 rows x 5 columns]

In [35]:

import pandas as pd
csv=pd.read_csv('IRIS.csv')    #reading csv file

csv.dropna(subset=['species'])# to drop nan value from a perticular column using subset

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          NaN           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[149 rows x 5 columns]

In [4]:

import pandas as pd
csv = pd.read_csv('IRIS.csv')  # reading csv file

# to drop nan valuefrom dataset and replacing with some value using inplace
csv.dropna(inplace=True)
csv

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
6             4.6          3.4           1.4          0.3     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[148 rows x 5 columns]

In [7]:

import pandas as pd
csv=pd.read_csv('IRIS.csv')    #reading csv file

csv.dropna(thresh=2)# to drop nan value from a perticular column having no of Nan value =2 or it can be any no

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          NaN           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[149 rows x 5 columns]

                            fillna

In [8]:

import pandas as pd
csv=pd.read_csv('IRIS.csv')    #reading csv file

csv

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             NaN          NaN           NaN          NaN             NaN
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          NaN           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [9]:

import pandas as pd
csv=pd.read_csv('IRIS.csv')    #reading csv file

csv.fillna('Python')# filling all NaN value to Python

    sepal_length sepal_width petal_length petal_width         species
0            5.1         3.5          1.4         0.2     Iris-setosa
1         Python      Python       Python      Python          Python
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6      Python          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [12]:

import pandas as pd
csv=pd.read_csv('IRIS.csv')    #reading csv file

csv.fillna({'species':'python','sepal_width':'25','sepal_length':50})# filling  NaN value of diffrent column with differnt value

     sepal_length sepal_width  petal_length  petal_width         species
0             5.1         3.5           1.4          0.2     Iris-setosa
1            50.0          25           NaN          NaN          python
2             4.7         3.2           1.3          0.2     Iris-setosa
3             4.6          25           1.5          0.2     Iris-setosa
4             5.0         3.6           1.4          0.2     Iris-setosa
..            ...         ...           ...          ...             ...
145           6.7         3.0           5.2          2.3  Iris-virginica
146           6.3         2.5           5.0          1.9  Iris-virginica
147           6.5         3.0           5.2          2.0  Iris-virginica
148           6.2         3.4           5.4          2.3  Iris-virginica
149           5.9         3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [16]:
# filling  NaN value with forward  filling 
import pandas as pd
csv=pd.read_csv('IRIS.csv')    #reading csv file

csv.fillna(method='ffill',axis=1) # axiz=1 means it will fillede with column data  & 0 means row data

    sepal_length sepal_width petal_length petal_width         species
0            5.1         3.5          1.4         0.2     Iris-setosa
1            NaN         NaN          NaN         NaN             NaN
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         4.6          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [17]:
# filling  NaN value with forward  filling 
import pandas as pd
csv=pd.read_csv('IRIS.csv')    #reading csv file

csv.fillna(method='bfill',axis=0)

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.7          3.2           1.3          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.6           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [18]:
# filling  NaN value with forward  filling 
import pandas as pd
csv=pd.read_csv('IRIS.csv')    #reading csv file


csv.fillna(method='bfill',axis=1)

    sepal_length sepal_width petal_length petal_width         species
0            5.1         3.5          1.4         0.2     Iris-setosa
1            NaN         NaN          NaN         NaN             NaN
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         1.5          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [21]:
# filling  NaN valueusing inplace
import pandas as pd
csv=pd.read_csv('IRIS.csv')    #reading csv file

csv.fillna('python',inplace=True)
csv

    sepal_length sepal_width petal_length petal_width         species
0            5.1         3.5          1.4         0.2     Iris-setosa
1         python      python       python      python          python
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6      python          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [28]:
# filling  NaN value with forward  filling 
import pandas as pd
csv=pd.read_csv('IRIS.csv')    #reading csv file

csv.fillna('python',limit=1)# it will limit upto 1 in each column

     sepal_length sepal_width petal_length petal_width         species
0             5.1         3.5          1.4         0.2     Iris-setosa
1             5.0      python       python      python          python
2             4.7         3.2          1.3         0.2     Iris-setosa
3             4.6         NaN          1.5         0.2     Iris-setosa
4             5.0         3.6          1.4         0.2     Iris-setosa
..            ...         ...          ...         ...             ...
145           6.7         3.0          5.2         2.3  Iris-virginica
146           6.3         2.5          5.0         1.9  Iris-virginica
147           6.5         3.0          5.2         2.0  Iris-virginica
148           6.2         3.4          5.4         2.3  Iris-virginica
149           5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]